@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:ital,wght@1,300;1,400;1,600&family=JetBrains+Mono:wght@400;500&display=swap');

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-brand-primary: #3B82F6;
  --color-brand-sidebar: #0F172A;
  --color-brand-bg: #F8FAFC;
  --color-brand-text: #1E293B;
  --color-brand-border: #E2E8F0;
}

body {
  @apply antialiased bg-brand-bg text-brand-text font-sans;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 4px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #141414;
  border-radius: 4px;
}
